*.suo
*.user
_ReSharper.*
bin
obj
/NadavTest/obj/*
/NadavTest/bin/*
/AgentVI/AgentVI/bin/*
/AgentVI/AgentVI/obj/*
/AgentVI/AgentVI.Android/bin/*
/AgentVI/AgentVI.Android/obj/*
.vs/AgentVI/v15/Server/sqlite3/storage.ide
.vs/AgentVI/v15/Server/sqlite3/storage.ide-wal
.vs/AgentVI/v15/Server/sqlite3/storage.ide
.vs/AgentVI/v15/Server/sqlite3/storage.ide-wal
